
@{
    ViewBag.Title = "Informes";
}

<h2>Informes</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a href="/Departamentoes/">
            Cálculo Departamentos
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Cargoes/">
            Salida Empleado
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Empleados/">
            Gestión Vacaciones
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Empleados/">
            Gestión  Permisos
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Empleados/">
            Gestión Licencias
        </a>
    </li>
</ul>