@{
    ViewBag.Title = "Mantenimientos";
}
<h2>Mantenimientos</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a href="/Departamentoes/">
            Gestión Departamentos
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Cargoes/">
            Gestión Cargos
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Empleados/">
            Gestión Empleados
        </a>
    </li>
</ul>