
@{
    ViewBag.Title = "Procesos";
}

<h2>Procesos</h2>
<ul class="list-group">
    <li class="list-group-item">
        <a href="/Departamentoes/">
            Cálculo Nomina
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Salidas/">
            Salida Empleado
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Vacaciones/">
           Gestión Vacaciones
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Empleados/">
            Gestión  Permisos
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Empleados/">
            Gestión Licencias
        </a>
    </li>
</ul>